.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    flex: 0 0 auto;
}

.switcher {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.collapsedBtn {
    position: absolute;
    bottom: 40px;
    right: -32px;
}

.items {
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.collapsed {
    width: var(--side-bar-collapsed);

    .lang {
        margin-top: 10px;
        color: var(--inverted-primary-color);
    }

    .switcher {
        flex-direction: column;
    }
}
