.ArticlesSwitcherView {
    height: 30px;
    display: flex;
    align-items: center;
}

.selected {
    fill: #fa2d2d;
    opacity: 1.5;
    transform: scale(1.3);
}

.notSelected {
    fill: #fa2d2d;
    opacity: 0.6;
}

.small {
    margin-right: 10px;
}
