.app_dark_theme {
    --bg-color: #2a4152;
    --inverted-bg-color: #c0c0fd;
    --primary-color: #01a800ff;
    --secondary-color: #588858;
    --inverted-primary-color: #142814;
    --inverted-secondary-color: #284228;
}
