.app_dark_theme {
    --bg-color: #061241;
    --inverted-bg-color: #e8e8fd;
    --primary-color: #008100;
    --secondary-color: #008100;
    --inverted-primary-color: #133867;
    --inverted-secondary-color: #233672;
}
