.app_dark_theme {
    --bg-color: #061241;
    --inverted-bg-color: #e8e8fd;
    --primary-color: #31d331;
    --secondary-color: #1bbe1b;
    --inverted-primary-color: #133867;
    --inverted-secondary-color: #233672;
    --box-shadow-skeleton: 0 4px 10px 0 rgb(22 39 86 / 24%);
    --skeleton-color: #172869;
    --bg-code: #131f4b;
}
