.app.light {
  --bg-color: #c0c0fd;
  --inverted-bg-color: #2a4152;

  --primary-color: #191f19;
  --secondary-color: #283428;
  --inverted-primary-color: #c4bad3;
  --inverted-secondary-color: #b3a8ce;
}
