:root {
    --bg-color: #e8e8fd;
    --inverted-bg-color: #061241;
    --primary-color: #002967;
    --secondary-color: #2a56ee;
    --inverted-primary-color: #02f102;
    --inverted-secondary-color: #01a801;
}
