:root {
    --bg-color: #e8e8fd;
    --inverted-bg-color: #061241;
    --primary-color: #133867;
    --secondary-color: #233672;
    --inverted-primary-color: #02f102;
    --inverted-secondary-color: #01a801;
}
