.app_pink_theme {
    --bg-color: #fbf4fb;
    --inverted-bg-color: #742375;
    --primary-color: #742375;
    --secondary-color: #321a56;
    --inverted-primary-color: #9f93e0;
    --inverted-secondary-color: #6b658d;
    --box-shadow-skeleton: 0 4px 10px 0 rgb(143 150 166 / 24%);
    --skeleton-color: #92929f;
    --bg-code: #a696b2;
    --bg-card: #d0c9d0;
    --bg-list-box: #d0c9d0;
}
