.app_pink_theme {
    --bg-color: #fbf4fb;
    --inverted-bg-color: #742375;
    --primary-color: #742375;
    --secondary-color: #321a56;
    --inverted-primary-color: #f5f4fb;
    --inverted-secondary-color: #f5f4fb;
}
