.articleNotFound {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    width: 100%;
    padding: 15px;
}
