.articleNotFound {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    align-items: center;
    display: flex;
    justify-content: center;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
