.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;

    .linksContainer {
        display: flex;
        gap: 20px;
    }
}

.login {
    margin-left: auto;
}

.appName {
    align-items: center;
    margin-left: 15px;
}
